Source: clicompanion
Section: misc
X-Python-Version: >=3.0
Priority: optional
Maintainer: Radu Cristescu <radu.cx@gmail.com>
Build-Depends: debhelper (>= 12),
 python3,
 dh-virtualenv,
 python3-distutils-extra
Standards-Version: 3.9.2
Homepage: http://www.launchpad.net/clicompanion

Package: clicompanion
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, gir1.2-vte-2.91 (>= 0.76.0), sudo
Description: run terminal commands from a GUI storing commands for later use
 CLI Companion is an application that is used as a complement to the Terminal.
 .
 People unfamiliar with the Terminal will find CLI Companion a useful
 way to become acquainted with the Terminal. Using the built-in
 commands new users can unlock the potential of the Terminal.
 .
 Experienced users can use CLI Companion’s add command feature to
 build a command dictionary.  Store commands as you come across them,
 and no more do you have to search for them.
